body {
    margin : 0;
    z-index: -1;
    min-height: 50vh;
    background-image: url('./assets/background.png');
    background-size: contain;
    background-position: top 0px right 0px;
    background-repeat: no-repeat;
}