@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@font-face {
    font-family: 'Comfortaa';
    src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
    
}
body {
    margin : 0;
    z-index: -1;
    min-height: 50vh;
    background-image: url('./assets/background.png');
    background-size: contain;
    background-position: top 0px right 0px;
    background-repeat: no-repeat;
    padding-right: 3rem;
    padding-left: 3rem;
}