.header-button {
    background-color: transparent;
    padding: 0.5rem 1rem;
    border: 0;

    color: #25282B;
    font-weight: 700;
    font-size: 18px;
    font-family: Comfortaa;
}

.primary-resume-button {
    background-color: #4a5568; /* gray-800 */
    color: white;
}

.secondary-resume-button {
    background-color: transparent;
    color: #4a5568; /* gray-800 */
    border: 1px solid #4a5568; /* gray-800 */
}

.project-button {
    background-color: transparent;
    color: #4a5568; /* gray-800 */
    border: 1px solid #4a5568; /* gray-800 */
}